/* =================================================================================================== */
/* =================================================================================================== */

.frame {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: #e5e5e5;
    }
.frame .main_frame {
    position: relative;
    width: 1440px;
    height: 1312px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2px;
    background: #f7f6b9;
    }
.main_frame .left_frame {
    position: relative;
    width: 305px;
    height: 1315px;
    background-color: white;
    display: flex;
    flex-direction: column;
    }
.main_frame .mid_frame {
    position: relative;
    width: 970px;
    height: 1359px;
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    height: 454.33px;
    background-color: white;
    }

.main_frame .left_container_1 {
    position: relative;
    width: 228px;
    height: 267px;
    margin-top: 50px;
    margin-left: 37px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    /* background-color: aqua; */
    }
.marginer {
    /* About */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    width: 228px;
    height: 110px;
    margin-bottom: 24px;
    left: 44px;
    }
.left_lang_skill_container {
    /* About */
     position: relative;
     display: flex;
     flex-direction: column;
     align-items: start;
     justify-content: start;
     width: 228px;
     height: 130px;
     margin-top: 24px;
     margin-bottom: 36px;
     left: 44px;
}
.main_frame .left_frame .left_3 {
    position: relative;
    width: 220px;
    height: 153px;
    margin-top: 25px;
    margin-left: 45px;
    /* background-color: aqua; */
    }
.main_frame .left_frame .left_4 {
    position: relative;
    width: 220px;
    height: 252px;
    margin-top: 25px;
    margin-left: 45px;
    /* background-color: aqua; */
    }
.main_frame .left_frame .left_5 {
    position: relative;
    width: 186px;
    height: 148px;
    margin-top: 25px;
    margin-left: 45px;
    /* background-color: aqua; */
    }

.profile_img_container {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 156.16px;
    height: 142.53px;
    /* margin-left: 36.44px;
    margin-right: 35.4px; */
    margin-bottom: 29.46px;
    }
.left_user_name {
    position: relative;
    width: 66.63px;
    height: 20.9px;
    margin-bottom: 6.65px;
    /* H4 - 18px */
    font-family: sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 123.6%; 
    /* or 22px */ 
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    /* Black */
    color: #2B2B2B;
}

.main_frame .left_frame .left_user_title{
    position: relative;
    width: 147.84px;
    height: 25.65px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* Paragraph Progress - 15 */
    font-family: sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    /* or 160% */
    text-transform: capitalize;
    font-feature-settings: 'calt' off, 'kern' off;
    /* Paragraph Font */
    color: #767676;
}

.link_href {
    text-decoration: none;
    color: black;
}

.left_icons {
    position:relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 220px;
    margin-top: 19px;
}
.h1 {
    margin: 0;
    padding: 0;
}
.hr {
    align-items: start;
    justify-content:flex-start;
    margin-bottom: 24px;
    width: 220px;
    height: 1.5px;
    margin-top: 15px;
  }
.user_data_container {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    width: 220px;
    height: 25px;
    /* right: -43px; */
  }
.user_data_title {
    margin: 0;
    padding: 3px;
    font-family: "Inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
    background-color: #ffb400;
    margin-bottom: 15px;
    
  }
.freelance {
  color: #7eb942;
}
.user_data{
    margin: 0;
    padding: 3px;
    font-family: "Inter";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 15px;
}

.left_general {
    position: relative;
    margin-left: 45px;
  }
.left_4 {
    width: 220px;
    height: 153px;
  }
.lang {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

/* Skill bar  ===========================================*/
/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.lang_container {
  width: 100%; /* Full width */
  background-color: grey;; /* Grey background */
}

.skills {
    text-align: right; /* Right-align text */
    padding-top: 3px; /* Add top padding */
    width: 221px;
    height: 2px;
    padding-bottom: 3px; /* Add bottom padding */
    color: white; /* White text color */
}
.uzbek {width: 100%; background-color: #ffb400; border: 0.5px solid rgb(255, 180, 0);border-radius: 30px;} 
.english {width: 90%; background-color: #ffb400; border: 0.5px solid rgb(255, 180, 0);border-radius: 30px;}
.korean {width: 70%; background-color: #ffb400; border: 0.5px solid rgb(255, 180, 0);border-radius: 30px;} 

.h3_lang {
    /* Languages */
    color: black;
    position: absolute;
    width: 95px;
    height: 12px;
    align-items: start;
    bottom: 105px;
    /* bottom: 20px; */
    /* line-height: 123.6%; */
}
.h3_skill {
    /* Languages */
    color: black;
    position: absolute;
    width: 95px;
    height: 12px;
    align-items: start;
    bottom: 165px;
    /* bottom: 20px; */
    /* line-height: 123.6%; */
}
.lang_perc_container {
    color: rgb(118, 118, 118);
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: row;
    width: 220px;
    height: 25px;
}
.empty_container {
    color: white;
    position: relative;
    display: flex;
    align-items: start;
    justify-content: space-between;
    flex-direction: column;
    width: 220px;
    top: 20px;
}
.html_css{width: 90%; background-color: #ffb400; border: 0.5px solid rgb(255, 180, 0);border-radius: 30px;} 
.node_js {width: 75%; background-color: #ffb400; border: 0.5px solid rgb(255, 180, 0);border-radius: 30px;} 
.javascript {width: 80%; background-color: #ffb400; border: 0.5px solid rgb(255, 180, 0);border-radius: 30px;} 
.python {width: 90%; background-color: #ffb400; border: 0.5px solid rgb(255, 180, 0);border-radius: 30px;} 
.express_django {width: 50%; background-color: #ffb400; border: 0.5px solid rgb(255, 180, 0);border-radius: 30px;} 


.extra_skill {
    position: relative;
    width: 221px;
    height: 267px;
    margin-top: 80px;
    /* margin-left: 37px; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    /* margin-bottom: -50px; */
    left: 44px;
}
.extra_skill_container {
    align-items: center;
    justify-content:initial;
    .extra_skill_container img {
        margin-right: 5px; /* Adjust the value as needed */
    }
    
    flex-direction: row;
    width: 220px;
    /* margin-top: 19px; */
    text-transform: capitalize;
    color: rgb(118, 118, 118);
    position: relative;
    display: flex;
    flex-direction: row;}


/* =================================================================================================== */
/* =================================================================================================== */

.main_frame .midd_frame {
    position: absolute;
    width: 970px;
    /* height: 1359px; */
    margin-left: 30px;
    margin-right: 27px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    height: 454.33px;
    background-color: white;
    /* Background Image */
    height: 454.33px;
    left: 300px;
    right: -339px;
    top: 3px;
    bottom: 5.76px;

  }
  
  #midd_frame {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative !important;
  }
  .springkle1 {
    position: absolute;
    left: 896.96px;
    top: 427.09px;
  }
  .springkle2 {
    position: absolute;
    left: 75.05px;
    top: 40.86px;
  }
  .springkle3 {
    position: absolute;
    left: 90.1px;
    top: 422.22px;
  }
  .springkle4 {
    position: absolute;
    left: 404px;
    right: -339px;
  
    bottom: 100px;
  }
  .springkle5 {
    position: absolute;
    left: 355.55px;
    top: 62.26px;
  }
  .springkle6 {
    position: absolute;
    left: 885.55px;
    top: 62.26px;
  }


  /* RIGHT FRAME */

  .right_frame {
    /* Rectangle 25 */
    position: absolute;
    width: 108px;
    height: 1315px;
    left: 1332px;
    right: -1332px;
    background-color: white;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 150px;
  }
  .right_icon_contrast {
    top: 150px;
    bottom: 568px;
  }
  .right-icons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 890px;
    top: 250px;
    bottom: 500px;
  }
  .right-icon {
    width: 40px;
    width: 40px;
  }

.myservice-container {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  
.myservice {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    align-items: center;
    width: 250px;
    height: 225px;
    background: rgb(255, 255, 255);
    padding-top: 20px;
  }

.wrapper {
    width: 499.51px;
    height: 216.74px;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
.wrapper button {
    width: 154px;
    height: 51px;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 32px 16px 32px;
    border-radius: 5px;
    /* Yellow */
    background: rgb(255, 180, 0);
    outline: none;
    border: none;
  }
.services {
    margin-bottom: 30px;
    /* width: 260px; */
  }
  
.services h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
  }
.services_to_center {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 250px;
    height: 225px;
    /* background: rgb(255, 255, 255); */
    padding-top: 5px;
    /* width: 899.51px;
    height: 216.74px;
    display: flex;
    flex-direction: column;
    gap: 1px; */
}